<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SoberDrivingIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB0FAEA11D6B48AF00BC1FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB0FAEB51D6B48B000BC1FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB0FAEC01D6B48B000BC1FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
